@media (max-width: 1660px) {
    .container {
        max-width: 1450px;
    }

    // HEADER

    .header_wrapper {
        padding: 30px 25px;
    }
    .nav_links {
        gap: 20px;
    }

    // MAIN

    .main_info {
        margin-top: 100px;
        width: 420px;
        margin-left: 0;

        &_h1 {
            font-size: 70px;
            line-height: 90px;
            &_span {
                margin-left: 3px;
            }
        }
    }
    .main_wrapper_anim {
        gap: 9px;
    }

    .main_anim1, .main_anim2, .main_anim3 {
        width: 85px;
    }

    @keyframes slidein {
        from {
            transform: translateY(0%);
          }
        
          to {
              transform: translateY(-100%);
          }
    }   

    .main_wrapper aside {
        margin-top: 80px;
    }

    .promo_info {
        width: 480px;
        border-radius: 90px;

        &_item {
            border-radius: 80px;
        }
    }
}


@media (max-width: 1240px) {
    .container {
        width: 90%;
    }

    .header_wrapper {
        height: 90px;
        border-radius: 40px;
    
        & .logo {
            display: none;
        }
    }

    .main_info {
        &_h1 {
            &_span {
                margin-left: 3px;
            }
        }
    }
    .main_wrapper aside {
        width: 50%;
        margin-top: 50px;
    }

    .main_wrapper_anim {
        display: none;
    }

    .footer {
        margin-top: 40px;
    }
}



@media (max-width: 1024px) {
    .wrap_helper {
        overflow: hidden;
    }
    .header_wrapper {
        position: relative;

        & .logo {
            display: block;
        }
    }

    .head_buttons {
        display: none;
    }

    .head_buttons_hidde {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head_button_link_hidde {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: 30px;
        border: 2px solid rgb(235, 242, 157);
        border-radius: 24px;
        background: rgb(25, 29, 10);
    }
    .menu_hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 36px;
        height: 36px;
        padding: 12px 9px;
        margin-left: 4px;
        
        & span::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            border-radius: 2px;
        }
    }

    .nav_links {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        width: 100%;
        height: 80vh;
        margin-top: 20vh;
        background: rgb(25, 29, 10);
        transition: .5s all;
        
        &_active {
            left: 0;
            width: 100%;
        }
    }
    .nav_link {
        display: flex;
        width: 400px;
        font-size: 18px;
        line-height: 24px;
        border: 2px solid rgb(249, 114, 71);
        border-radius: 28px;
        background: rgb(25, 29, 10);
    }

    .main_wrapper {
        flex-direction: column;
        text-align: center;
        align-items: center;

        aside {
            width: 90%;
            margin-top: 30px;
        }
    }
    .main_info {
        margin-top: 70px;
        width: 70%;
        align-items: center;
    }

    .small_wrapper_anim {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 12px;
        margin-top: 60px;
    }

    .small_anim1, .small_anim2, .small_anim3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .small_anim1 {
        animation: 20s infinite alternate slideinX;
    }
    .small_anim2 {
        animation: 20s infinite alternate slideoutX;
    }
    .small_anim3 {
        animation: 30s infinite alternate slideinX;
    }
    
    @keyframes slideinX {
        from {
            transform: translateX(10%);
        }
    
        to {
            transform: translateX(-10%);
        }
    }
    
    @keyframes slideoutX {
        from {
            transform: translateX(-10%);
        }
        
        to {
            transform: translateX(10%);
        }
    }

    .promo_info {
        width: 100%;
        text-align: start;
    }
}

@media (max-width: 769px) {
    .footer_info_links {
        gap: 20px;
    }
}

@media (max-width: 687px) {
     .header_wrapper {
        & .logo {
            display: none;
        }
    }
    .main_info {
        margin-top: 50px;
        width: 50%;
        align-items: start;
        text-align: start;

        &_link {
            width: 100%;
        }
    }


    .main_wrapper {
        flex-direction: column;
    }
   
    .main_info {
        width: 100%;
        min-height: 213px;
        margin-top: 70px;
        margin-left: 0;

        &_h1 {
            font-size: 46px;
            line-height: 50px;
            text-align: center;
            margin-top: 0;
            font-weight: 400;

            &_span {
                margin-left: 0;
                letter-spacing: 0px;
            }
        }
        &_text {
            font-size: 20px;
            text-align: center;
        }
        &_link {
            width: 100%;
            height: 51px;
            padding: 15px 20px;
            margin-top: 24px;
            font-size: 18px;
            line-height: 23px;
        }
    }


    .small_wrapper_anim {
        gap: 8px;
    }

    .promo_text {
        font-size: 32px;
    }

    .main_wrapper aside {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    .promo_info {
        width: 320px;
        height: 421px;
        gap: 10px;
        padding: 10px;
        border: 2px solid rgb(249, 114, 71);
        border-radius: 50px;

        &_item {
            display: flex;
            justify-content: center;
            align-items: start;
            width: 269px;
            min-height: 112px;
            padding: 15px 35px;
            gap: 6px;
            border-radius: 40px;

            &_text {
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
            }

            &_date {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    .footer {
        padding: 20px;
        margin-top: 75px;
        border-radius: 50px 50px 0px 0px;
        background: rgb(49, 18, 18);
        border-left: 2px solid rgb(249, 114, 71);
        border-right: 2px solid rgb(249, 114, 71);
        border-top: 2px solid rgb(249, 114, 71);
    
        &_info {
            flex-direction: column;
            align-items: start;
        
            &_links {
                flex-direction: column;
                gap: 2px;
            }
            &_social {
                align-items: start;
                margin-top: 20px;
                gap: 8px;
            }
        }
    }
    .footer_info_link_item.footer_info_link_item_hidde {
        display: block;
    }


}


@media (max-width: 320px) {
    .container {
        width: 300px;
    }

    .header {
        padding-top: 10px;
    }
    .header_wrapper {
        padding: 10px 14px 10px 0;
        height: 56px;
        border: 2px solid #f97247;
    }

    // .main_info {
    //     width: 100%;
    //     min-height: 213px;
    //     margin-top: 70px;
    //     margin-left: 0;

    //     &_h1 {
    //         font-size: 46px;
    //         line-height: 50px;
    //         text-align: center;
    //         margin-top: 0;
    //         font-weight: 400;

    //         &_span {
    //             margin-left: 0;
    //             letter-spacing: 0px;
    //         }
    //     }
    //     &_text {
    //         font-size: 20px;
    //         text-align: center;
    //     }
    //     &_link {
    //         width: 100%;
    //         height: 51px;
    //         padding: 15px 20px;
    //         margin-top: 24px;
    //         font-size: 18px;
    //         line-height: 23px;
    //     }
    // }

    // .small_wrapper_anim {
    //     gap: 8px;
    // }

    // .promo_text {
    //     font-size: 32px;
    // }

    // .main_wrapper aside {
    //     width: 100%;
    //     margin-top: 5px;
    // }
    // .promo_info {
    //     width: 100%;
    //     height: 421px;
    //     gap: 10px;
    //     padding: 10px;
    //     border: 2px solid rgb(249, 114, 71);
    //     border-radius: 50px;

    //     &_item {
    //         display: flex;
    //         justify-content: center;
    //         align-items: start;
    //         width: 269px;
    //         min-height: 112px;
    //         padding: 15px 35px;
    //         gap: 6px;
    //         border-radius: 40px;

    //         &_text {
    //             font-size: 16px;
    //             line-height: 20px;
    //             font-weight: 300;
    //         }

    //         &_date {
    //             font-size: 14px;
    //             font-weight: 300;
    //         }
    //     }
    // }

    // .footer {
    //     padding: 20px;
    //     margin-top: 75px;
    //     border-radius: 50px 50px 0px 0px;
    //     background: rgb(49, 18, 18);
    //     border-left: 2px solid rgb(249, 114, 71);
    //     border-right: 2px solid rgb(249, 114, 71);
    //     border-top: 2px solid rgb(249, 114, 71);
    
    //     &_info {
    //         flex-direction: column;
    //         align-items: start;
        
    //         &_links {
    //             flex-direction: column;
    //             gap: 2px;
    //         }
    //         &_social {
    //             align-items: start;
    //             margin-top: 20px;
    //             gap: 8px;
    //         }
    //     }
    // }
    // .footer_info_link_item.footer_info_link_item_hidde {
    //     display: block;
    // }
}