* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend";
}

.wrapper {
  background: url("../img/main_bg.png") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 16px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 48px;
  height: 99px;
  border: 4px solid #f97247;
  border-radius: 47px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.nav_link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  transition: 0.3s all;
}
.nav_link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #f97247;
  bottom: 0;
  left: 0;
  transition: 0.3s all;
}
.nav_link:hover {
  color: #f97247;
}
.nav_link:hover::after {
  width: 100%;
}

.head_buttons {
  display: flex;
  gap: 9px;
}

.head_buttons_hidde {
  display: none;
}

.head_button_link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 13px;
  border: 2px solid rgb(235, 242, 157);
  border-radius: 24px;
  background-color: transparent;
  transition: 0.3s all;
}
.head_button_link img {
  padding-right: 8px;
}
.head_button_link:hover {
  background-color: #f97247;
  cursor: pointer;
}

.filter {
  position: relative;
  display: flex;
  width: 75px;
}

.filter summary {
  display: block;
}

.filter_title {
  position: absolute;
  width: 100%;
  transition: 0.3s all;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  left: 0;
  top: 0;
  padding: 13px;
  border: 2px solid rgb(235, 242, 157);
  border-radius: 24px;
  background-color: transparent;
}
.filter_title:hover {
  background-color: #f97247;
  cursor: pointer;
}

.filter[open] > .filter_title {
  position: relative;
  z-index: 10;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f97247;
}
.filter[open] > .filter_title:hover {
  background-color: #fff;
  color: #f97247;
}

.filter_list {
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 13px;
  border: 2px solid rgb(235, 242, 157);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #f97247;
  color: #fff;
}
.filter_list:hover {
  color: #f97247;
  background-color: #fff;
  cursor: pointer;
}

.sign_up {
  background: #f97247;
  border: 2px solid #f97247;
  transition: 0.3s all;
}
.sign_up:hover {
  color: #f97247;
  background-color: rgb(255, 255, 255);
}

.main {
  height: 100%;
}

.main_wrapper {
  display: flex;
  justify-content: space-between;
}

.main_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 669px;
  min-height: 368px;
  margin-top: 228px;
  margin-left: 8px;
}

.main_info_h1 {
  color: #fff;
  font-size: 96px;
  font-weight: 500;
  line-height: 96px;
  margin-bottom: 0;
}

.main_info_h1_span {
  margin-left: -23px;
  letter-spacing: -5px;
  text-transform: uppercase;
}

.main_info_span {
  text-transform: uppercase;
  color: #F97247;
}

.main_info_text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.main_info_link {
  width: 261px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  border: 1px solid #F97247;
  padding: 20px 67px 19px 72px;
  margin-top: 48px;
  border-radius: 48px;
  background: rgb(249, 114, 71);
  transition: 0.3s all;
}
.main_info_link:hover {
  background-color: #fff;
  color: #F97247;
}

.main_wrapper_anim {
  display: flex;
  gap: 15px;
  max-height: 1026px;
  overflow: hidden;
}

.small_wrapper_anim {
  display: none;
}

.main_anim1, .main_anim2, .main_anim3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100px;
}
.main_anim1:hover, .main_anim2:hover, .main_anim3:hover {
  animation-play-state: paused;
}

.main_anim1 {
  animation: 20s infinite alternate slidein;
}

.main_anim2 {
  animation: 10s infinite alternate slideout;
}

.main_anim3 {
  animation: 30s infinite alternate slidein;
}

@keyframes slidein {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(-150%);
  }
}
@keyframes slideout {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.main_wrapper aside {
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

aside .promo_text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  padding-top: 3px;
}

.promo_info {
  width: 526px;
  height: 595px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 18px;
  margin-top: 26px;
  overflow: auto;
  border: 3px solid rgb(249, 114, 71);
  border-radius: 100px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: transparent;
}

aside ::-webkit-scrollbar {
  width: 6px;
}

aside ::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 4px;
}

aside ::-webkit-scrollbar-thumb {
  background-color: rgb(249, 114, 71);
  border-radius: 4px;
}

.promo_info_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  width: 100%;
  min-height: 146px;
  padding: 18px 64px 16px 70px;
  border-radius: 100px;
  background: rgb(49, 18, 18);
}
.promo_info_item:hover {
  cursor: pointer;
}
.promo_info_item.active {
  background: rgb(249, 114, 71);
}

.promo_info_item_text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
}

.promo_info_item_date {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
}

.footer {
  min-height: 130px;
  border-radius: 64px 64px 0px 0px;
  background: rgb(49, 18, 18);
  border-left: 4px solid rgb(249, 114, 71);
  border-right: 4px solid rgb(249, 114, 71);
  border-top: 4px solid rgb(249, 114, 71);
  padding: 40px 0 24px 0;
}
.footer_info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  min-height: 66px;
}
.footer_info_links {
  display: flex;
  gap: 40px;
}
.footer_info_link_item {
  transition: 0.3s all;
}
.footer_info_link_item:hover, .footer_info_link_item .footer_link_active {
  text-decoration: underline;
  color: #f97247;
}
.footer_info_link_item.footer_link_active {
  text-decoration: underline;
  color: #f97247;
  transition: 0.3s all;
}
.footer_info_link_item.footer_link_active:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer_info_social {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 14px;
  transition: 0.3s fill;
}

.footer_info_link_item.footer_info_link_item_hidde {
  display: none;
}

.footer_info_social_item {
  transition: 0.3s all;
}
.footer_info_social_item svg {
  fill: #F97247;
}
.footer_info_social_item:hover svg {
  fill: #fff;
}

.footer_info_text, .footer_info_link_item {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.social_wrapper {
  display: flex;
  gap: 8px;
}

@media (max-width: 1660px) {
  .container {
    max-width: 1450px;
  }
  .header_wrapper {
    padding: 30px 25px;
  }
  .nav_links {
    gap: 20px;
  }
  .main_info {
    margin-top: 100px;
    width: 420px;
    margin-left: 0;
  }
  .main_info_h1 {
    font-size: 70px;
    line-height: 90px;
  }
  .main_info_h1_span {
    margin-left: 3px;
  }
  .main_wrapper_anim {
    gap: 9px;
  }
  .main_anim1, .main_anim2, .main_anim3 {
    width: 85px;
  }
  @keyframes slidein {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  .main_wrapper aside {
    margin-top: 80px;
  }
  .promo_info {
    width: 480px;
    border-radius: 90px;
  }
  .promo_info_item {
    border-radius: 80px;
  }
}
@media (max-width: 1240px) {
  .container {
    width: 90%;
  }
  .header_wrapper {
    height: 90px;
    border-radius: 40px;
  }
  .header_wrapper .logo {
    display: none;
  }
  .main_info_h1_span {
    margin-left: 3px;
  }
  .main_wrapper aside {
    width: 50%;
    margin-top: 50px;
  }
  .main_wrapper_anim {
    display: none;
  }
  .footer {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .wrap_helper {
    overflow: hidden;
  }
  .header_wrapper {
    position: relative;
  }
  .header_wrapper .logo {
    display: block;
  }
  .head_buttons {
    display: none;
  }
  .head_buttons_hidde {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head_button_link_hidde {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 30px;
    border: 2px solid rgb(235, 242, 157);
    border-radius: 24px;
    background: rgb(25, 29, 10);
  }
  .menu_hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 36px;
    padding: 12px 9px;
    margin-left: 4px;
  }
  .menu_hamburger span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
  }
  .nav_links {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 80vh;
    margin-top: 20vh;
    background: rgb(25, 29, 10);
    transition: 0.5s all;
  }
  .nav_links_active {
    left: 0;
    width: 100%;
  }
  .nav_link {
    display: flex;
    width: 400px;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid rgb(249, 114, 71);
    border-radius: 28px;
    background: rgb(25, 29, 10);
  }
  .main_wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main_wrapper aside {
    width: 90%;
    margin-top: 30px;
  }
  .main_info {
    margin-top: 70px;
    width: 70%;
    align-items: center;
  }
  .small_wrapper_anim {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 12px;
    margin-top: 60px;
  }
  .small_anim1, .small_anim2, .small_anim3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .small_anim1 {
    animation: 20s infinite alternate slideinX;
  }
  .small_anim2 {
    animation: 20s infinite alternate slideoutX;
  }
  .small_anim3 {
    animation: 30s infinite alternate slideinX;
  }
  @keyframes slideinX {
    from {
      transform: translateX(10%);
    }
    to {
      transform: translateX(-10%);
    }
  }
  @keyframes slideoutX {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
  }
  .promo_info {
    width: 100%;
    text-align: start;
  }
}
@media (max-width: 769px) {
  .footer_info_links {
    gap: 20px;
  }
}
@media (max-width: 687px) {
  .header_wrapper .logo {
    display: none;
  }
  .main_info {
    margin-top: 50px;
    width: 50%;
    align-items: start;
    text-align: start;
  }
  .main_info_link {
    width: 100%;
  }
  .main_wrapper {
    flex-direction: column;
  }
  .main_info {
    width: 100%;
    min-height: 213px;
    margin-top: 70px;
    margin-left: 0;
  }
  .main_info_h1 {
    font-size: 46px;
    line-height: 50px;
    text-align: center;
    margin-top: 0;
    font-weight: 400;
  }
  .main_info_h1_span {
    margin-left: 0;
    letter-spacing: 0px;
  }
  .main_info_text {
    font-size: 20px;
    text-align: center;
  }
  .main_info_link {
    width: 100%;
    height: 51px;
    padding: 15px 20px;
    margin-top: 24px;
    font-size: 18px;
    line-height: 23px;
  }
  .small_wrapper_anim {
    gap: 8px;
  }
  .promo_text {
    font-size: 32px;
  }
  .main_wrapper aside {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  .promo_info {
    width: 320px;
    height: 421px;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(249, 114, 71);
    border-radius: 50px;
  }
  .promo_info_item {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 269px;
    min-height: 112px;
    padding: 15px 35px;
    gap: 6px;
    border-radius: 40px;
  }
  .promo_info_item_text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  .promo_info_item_date {
    font-size: 14px;
    font-weight: 300;
  }
  .footer {
    padding: 20px;
    margin-top: 75px;
    border-radius: 50px 50px 0px 0px;
    background: rgb(49, 18, 18);
    border-left: 2px solid rgb(249, 114, 71);
    border-right: 2px solid rgb(249, 114, 71);
    border-top: 2px solid rgb(249, 114, 71);
  }
  .footer_info {
    flex-direction: column;
    align-items: start;
  }
  .footer_info_links {
    flex-direction: column;
    gap: 2px;
  }
  .footer_info_social {
    align-items: start;
    margin-top: 20px;
    gap: 8px;
  }
  .footer_info_link_item.footer_info_link_item_hidde {
    display: block;
  }
}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
  .header {
    padding-top: 10px;
  }
  .header_wrapper {
    padding: 10px 14px 10px 0;
    height: 56px;
    border: 2px solid #f97247;
  }
}/*# sourceMappingURL=style.css.map */