* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend";
}

.wrapper {   
    background: url('../img/main_bg.png') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
}

@import "header";
@import "main";
@import "footer";

@import "media";